\.timer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
}

.timerbox {
  background-color: #656262;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resetButton {
  max-width: 250px;
}
.cacheBox {
  padding: 5px;
  border: solid 5px white;
  display: flex;
  align-items: flex-start;
  width: 25%;
}

.averagesBox {
  padding: 5px;
  border: solid 5px white;
  display: flex;
  align-items: flex end;
  width: 25%;
}
.solvesCache {
  position: relative;
  left: 10px;
}

ul {
  list-style-type: none;
}
