\.times-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
}

.times-box {
  background-color: #656262;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  display: flex;
  flex-direction: column;
}

.times-box h1 {
  font-size: 36px;
  margin: 0;
}

.times-box p {
  font-size: 14px;
  margin: 0;
  color: #888;
}
